<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latinsud.android.slidetypekeyboard">

    <application
        android:theme="@style/AppTheme"
        android:label="SlideType Keyboard"
        android:icon="@drawable/ic_launcher_foreground">
        <service
            android:name=".SlideTypeKeyboardService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.BIND_INPUT_METHOD" />
</manifest>
